/* Ajusta el tamaño del modal */
.modal-dialog {
      max-width: 800px; /* Tamaño del modal */
    }
    
    .modal-body {
      padding: 0;
    }
    
    /* Asegura que el video ocupe el 100% del modal */
    .modal-body video {
      width: 100%;
      height: auto;
    }
    
    /* Oculta la barra de desplazamiento cuando se abre el modal */
    body.modal-open {
      overflow: hidden;
    }
    